<% @guests.each do |guest| %>
  <div class="modal fade" id="changeGuestStateModal-<%= guest.id %>" tabindex="-1"   aria-labelledby="change_state_guest" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= form_with model: [@user, @event, connection(guest,@event)], local: true do |f| %>
          <div class="modal-body">
            <div class="mb-3 select">
              <%= f.label :RSVP, "RSVP:", class: "col-form-label px-3" %>
              <%= f.select :RSVP, options_for_select(rsvp_options,{selected: connection(guest,@event).RSVP}), class: "form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Save", class: "border border-1 border-warning btn btn-primary btn-sm" %>
            <%= link_to "Remove from guest list", user_event_connection_path(@user,@event,guest), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger px-1", type: :button%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>