<div class="modal fade" id="guestInfoModal-<%= guest.id %>" tabindex="-1" aria-labelledby="info_guest" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="mb-3">Name: <%= guest.name %></p>
          <p class="mb-3">Email: <%= guest.email %></p>
          <p class="mb-3">Phone: <%= guest.phone %></p>
          <p class="mb-3">Notes: <%= guest.notes %></p>          
      </div>
    </div>
  </div>
</div>
