<div class="mx-0 mt-3 card card-custom bg-light border-white border-0">
  <div class="card-body d-flex flex-column" style="overflow-y: auto">
    <% @guests.each.with_index do |guest, i| %>
      <% connection = connection(guest, @event) %>
      <div class="d-flex mb-sm-1 flex-column flex-sm-row justify-content-between ">
        <div class="d-flex align-items-baseline">
        <p class="mb-0" style="min-width: 15px"><%= "#{i + 1}." %></p>
          <%= link_to "#{guest.name}","#", class: "hover ps-1 lh-sm text-dark guest-name", "data-bs-toggle"=>"modal", "data-bs-target"=>"#guestInfoModal-#{guest.id}", "data-bs-whatever"=>"@mdo" %>
        </div>
        <div class="d-flex justify-content-between w-100 mb-3 mb-sm-0">
          <span class="text-success ms-2 px-2 rsvp text-start"><%= connection.RSVP %></span>
        <%= link_to "Edit","#", class: "text-secondary hover ms-2 me-2 py-0 align-self-start", "data-bs-toggle"=>"modal", "data-bs-target"=>"#changeGuestStateModal-#{guest.id}", "data-bs-whatever"=>"@mdo" %>
        
        </div>
      </div>
      <%= render partial: "connections/guest_info_modal", locals: { guest: guest, connection: connection } %>
 <%= render partial: "connections/change_rsvp_modal", locals: { guests: @guests }%> 
    <% end %>  
  </div>
</div>


<%
=begin%>
 
<div class="table-responsive object-table mb-1 mt-5">  
  <table class="shadow table table-hover table-light mt-2 table-borderless border border-1 border-warning">
    <thead>
     <tr>
        <td colspan="4" class="text-dark border border-warning border-1 text-center p-1 bg-primary">Guest list</td>
      </tr>
    </thead> 
    <tbody>
      <% @guests.each do |guest| %>
        <% connection = connection(guest,@event) %>
        <tr>
          <td><%= link_to guest.name,"#", class: "text-dark", "data-bs-toggle"=>"modal", "data-bs-target"=>"#guestInfoModal-#{guest.id}", "data-bs-whatever"=>"@mdo" %></td>
          <td class="rsvp"><%= connection.RSVP %></td> 
          <td><%= link_to "Edit","#", class: "btn btn-outline-secondary btn-sm", "data-bs-toggle"=>"modal", "data-bs-target"=>"#changeGuestStateModal-#{guest.id}", "data-bs-whatever"=>"@mdo" %></td>
          <td><%= link_to "", user_event_connection_path(@user,@event,guest), method: :delete, data: {confirm: "Are you sure?"}, "aria-label" => "Delete", class: " btn-close", type: :button%></td>
        </tr>
        <%= render partial: "connections/guest_info_modal", locals: { guest: guest, connection: connection } %>
      <% end %>
    </tbody>
  </table>
</div>
  <%= render partial: "connections/change_rsvp_modal", locals: { guests: @guests }%>  
<%
=end%>
