
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Notes</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
 

    

<tbody>

    <% @connections.each do |connection| %>
    <%guest = Contact.find_by(id: connection.contact_id)%>
 
      <tr>
        <td><%=guest.name%></td>
        <td><%= guest.email %></td>
        <td><%= guest.phone   %></td>
        <td><%= guest.notes   %></td>
        <td><%= connection.RSVP %></td> 

      
        <td><%=link_to "", user_event_connection_path(@user,@event,guest), method: :delete, data: {confirm: "Are you sure?"}, class: " btn-close", type: :button%></td>
      </tr>
    <% end %>
  </tbody>

</table>
