


<div class="modal fade" id="guestInfoModal-<%=guest.id%>" tabindex="-1" aria-labelledby="info_guest" aria-hidden="true">
  <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                          <div class="modal-body">
                                            <div class="mb-3">
                                        <p> Name</p>
                                          <p><%=guest.name%></p>
                                            </div>
                                            <div class="mb-3">
                                        <p> Email</p>
                                          <p><%=guest.email%></p>
                                            </div>
                                            <div class="mb-3">
                                        <p> Phone</p>
                                          <p><%=guest.phone%></p>
                                            </div>
                                            <div class="mb-3">
                                        <p> Notes</p>
                                          <p><%=guest.notes%></p>
                                            </div>
                          
                        </div>
            </div>
</div>
</div>
