
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>

      <th>RSVP</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 

    

<tbody>

    <% @guests.each do |guest| %>

    <%connection = connection(guest,@event)%>
 
      <tr>
  
        <td>  <%= link_to guest.name,"#", class: "", "data-bs-toggle"=>"modal", "data-bs-target"=>"#guestInfoModal-#{guest.id}", "data-bs-whatever"=>"@mdo" %></td>

        <td class="rsvp"><%= connection.RSVP %></td> 

      <td>  <%= link_to "Change RSVP","#", class: "btn btn-outline-secondary btn-sm", "data-bs-toggle"=>"modal", "data-bs-target"=>"#changeGuestStateModal-#{guest.id}", "data-bs-whatever"=>"@mdo" %></td>
        <td><%=link_to "", user_event_connection_path(@user,@event,guest), method: :delete, data: {confirm: "Are you sure?"}, class: " btn-close", type: :button%></td>
      </tr>
      
       <%= render partial: "connections/guest_info_modal", locals: { guest: guest, connection: connection } %>
    <% end %>
  </tbody>

</table>

 <%= render partial: "connections/change_rsvp_modal", locals: { guests: @guests }%> 
