<p>Contact list</p>

<% if @contacts.blank?%>
  <p>No existing contacts! </p>
  <p>Add some people to <%=link_to "Contacts", address_book_path(@user)%> to start adding them to the guest list.</p>
  <%else%>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
 

    

<tbody>

        <%=form_with model: [@current_user, @event, @new_connection], local: true do |f| %>
    <% @contacts.each do |contact| %>
 
      <tr>
       <td>
          <%= check_box("contact", "invited", {:multiple => true, class: 'form-check-input', "data-invited"=> "true"}, contact.id, nil)%>
         <label class="" for="contact_invited_<%=contact.id%>" ><%=contact.name%></label></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone   %></td>
        <td><%= contact.notes   %></td>
         
        


    
        


      </tr>
         <% end %>
  </tbody>
  
</table>

        <p><%=f.submit "Add to guest list", class: "btn btn-primary"%></p>
    <% end %>
    <% end %>