<div class="right">
<table class="table  task-table  ">
  <thead>
    <tr>
      
      <th>Task</th>
      <th></th>
      <th></th>
 
    </tr>
  </thead>

<tbody>

    <% @tasks.each do |task| %>
 
      <tr>
        
    
        <td><input type="checkbox" id="task-<%=task.id%>"><label class="task-label" for="task-<%=task.id%>"><%=task.description%></label></td>
        <td>  <%= link_to "Edit","#", class: "btn btn-outline-secondary btn-sm", "data-bs-toggle"=>"modal", "data-bs-target"=>"#editTaskModal-#{task.id}", "data-bs-whatever"=>"@mdo" %></td>
        <td><%=link_to "", user_event_task_path(@user, @event, task), method: :delete, class: "task-remove-btn btn-close", type: :button%></td>
      </tr>
      <%= render "tasks/edit_task_modal" %>
    <% end %>
  </tbody>
   

</table>
</div>