<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="change_password" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="change_password">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: @user, local: true do |f| %>  
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :password, " New password", class: "col-form-label" %>
            <%= f.password_field :password, class: "form-control form-control-lg", minlength: "8", maxlength: "25", required: true%>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "Repeat new password", class: "col-form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control form-control-lg", minlength: "8", maxlength: "25", required: true%>
          </div>
        </div>
        <div class="modal-footer">
          <%=f.submit "Change password", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>