<nav class="navbar navbar-expand-md navbar-dark bg-success ">
      <div class="container-fluid">
      <% if logged_in? %>
        <%= link_to image_tag("", class: "menu-icon", alt: "BeMyGuest logo"), current_user, class: "nav-link" %>
        <% else %>
        <%= link_to image_tag("", class: "menu-icon", alt: "BeMyGuest logo"), root_path, class: "nav-link" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if logged_in? %>
        <li class="nav-item">
          <%=link_to "Home", current_user, class: "nav-link active",  "aria-current" => "page"%>
        </li>
        <li class="nav-item">
        <%= link_to "+ New","#", class: "nav-link active","aria-current" => "page", "data-bs-toggle"=>"modal", "data-bs-target"=>"#newEventModal", "data-bs-whatever"=>"@mdo" %>
         </li>
        
        <li class="nav-item">
          <%=link_to "Adress Book", address_book_path(@user), class: "nav-link active",  "aria-current" => "page"%>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=current_user.name[0..1] %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

          <li><%= link_to "Change password","#", class: "dropdown-item", "data-bs-toggle"=>"modal", "data-bs-target"=>"#passwordModal", "data-bs-whatever"=>"@mdo" %></li>
          
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
           <%=render 'events/new_event_modal'%>
        </li>
          <%= render "shared/change_password_modal" %>
        <% else %>
        
        <li class="nav-item ">
        <%=mail_to "rreiso@protonmail.com", "Contact Us",  class: "nav-link active ",  "aria-current" => "page"%>
        </li>
        <% end %>
      </ul>
    </div>
      </div>
    </nav>