  <section class="min-vh-100 bg-image d-flex flex-column justify-content-center align-items-center " style="background-image: url('dim.png');">
<p class="font-dark fs-4 text-center mt-3 mb-4 mx-2 px-2 py-3">The only tool you need for flawless events</p>
<div class="h-100 d-flex flex-column flex-md-row justify-content-evenly">
<div class="d-flex flex-column justify-content-start align-items-center">
  <h1 class="font-dark pacifico mb-2 mb-sm-0">BeMyGuest</h1>
<%= form_with local: true, url: root_path, scope: :session do |f| %>
    <div class="mask d-flex align-items-center" >
      <div class="container h-25">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-10 col-md-9 col-lg-8  py-3">
            <div class="card" style="border-radius: 5px;">
              <div class="card-body pt-2 pb-3 px-4">
                <h5 class="my-2">Log in</h5>
                <div class="form-outline mb-0">
                  <%= f.email_field :email, class: "form-control form-control-md", maxlength: "50", required: true%>
                  <%= f.label :email, "Email", class: "form-label" %>
                </div>
                <div class="form-outline mb-0">
                  <%= f.password_field :password, class: "form-control form-control-md", minlength: "8", maxlength: "25", required: true%>
                  <%= f.label :password, "Password", class: "form-label" %>
                </div>
                <div class="form-check fs-7 d-flex mt-0 mb-3">
                  <%= f.check_box :remember_me, class: "form-check-input me-2" %>	
                  <%= f.label :remember_me, class: "form-check-label" do %>
                    Remember me  
                  <% end %>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <%= f.submit "Log in", class: "btn btn-sm btn-primary shadow-sm border border-1 border-warning" %>
                <p class=" text-center text-muted mt-1 mb-0"><%= link_to "Create new account", signup_path, class: "fs-7 link-to" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>
<p class="font-dark m-4 align-self-center text-center  fs-5">Planning your friend's birthday, or a fancy dinner party? Keep everything under control with BeMyGuest event planner!</p>
</div>
  </section>


