<div class="modal fade" id="editEventModal-<%= @event.id %>" tabindex="-1" aria-labelledby="edit_event" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_event-<%= @event.id %>">Edit Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%=form_with model: [@user, @event], local: true do |f| %>  
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :name, " Name", class: "col-form-label" %>
            <%= f.text_field :name, value: @event.name, id: "name-#{@event.id}", class: "form-control form-control-md", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :event_date, "Date", class: "col-form-label" %>
            <%= f.date_select :event_date, value: @event.event_date, id: "date-#{@event.id}", class: "form-control form-control-md", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :event_time, "Time", class: "col-form-label" %>
            <%= f.time_select :event_time, value: @event.event_time, id: "time-#{@event.id}", class: "form-control form-control-md", required: true%>
          </div>
          <div class="mb-3">
            <%= f.label :place, "Place", class: "col-form-label" %>
            <%= f.text_field :place, value: @event.place, id: "place-#{@event.id}", class: "form-control form-control-md", required: true %>
          </div>
        </div> 
        <div class="modal-footer">
          <%= f.submit "Save", class: "btn btn-primary" %>
          <%= link_to "Delete event", user_event_path(@user, @event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>