<div class="right">
  <div class="d-flex flex-wrap flex-column  align-items-center justify-content-evenly py-3 event-info event-container flex-md-row mx-md-3">
    <div class="event-details">
      <div class="card card-general card-custom bg-light border-white border-0" style="width: 17rem">
        <div class="card-custom-img"></div>
        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title px-1 mt-2"><%= @event.name %></h4>
          <h6 class=" mb-3 mt-3 ">Date:  
            <span class="card-text mb-3 px-1 "><%= @event.event_date.to_formatted_s(:rfc822) %></span>
          </h6>
          <h6 class=" mb-3">Time:
            <span class="card-text mb-3 px-1"><%= @event.event_time.to_formatted_s(:time) %></span>
          </h6>
          <h6 class=" mb-3">Place:
            <span class="card-text mb-3 px-1"><%= @event.place %></span>
          </h6>
          <%= link_to "Edit event details","#", class: "d-flex justify-content-center btn btn-primary btn-sm border border-1 border-warning", "data-bs-toggle"=>"modal", "data-bs-target"=>"#editEventModal-#{@event.id}", "data-bs-whatever"=>"@mdo" %>
        </div>
        <%= render "events/edit_event_modal" %>
      </div>   
    </div>
    <div class="notes">
      <div class="tape">Notes</div>
          <textarea name="note" id="sticky-note" placeholder="Start jotting down your ideas..." data-event="<%= @event.id %>"><%= @event.notes %></textarea>
    </div>
  </div>  
</div>