<div class="table-responsive contact-table mb-1 mt-5">
  <table class="shadow table table-hover table-light mt-2 table-borderless border border-1 border-warning">
    <thead>
     <tr>
        <td colspan="6" class="text-dark border border-warning border-1 text-center p-1 bg-primary">Contacts</td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%=contact.name%></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone   %></td>
          <td><%= contact.notes   %></td>
          <td>  <%= link_to "Edit","#", class: "btn btn-outline-secondary btn-sm", "data-bs-toggle"=>"modal", "data-bs-target"=>"#editContactModal-#{contact.id}", "data-bs-whatever"=>"@mdo" %></td>
          <td><%= link_to "", user_contact_path(@user, contact), method: :delete, data: {confirm: "Are you sure?"},"aria-label" => "Delete", class: " btn-close", type: :button %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render "contacts/edit_contact_modal" %>
