<% @items.each do |item| %>
  <div class="modal fade" id="editItemModal-<%= item.id %>" tabindex="-1" aria-labelledby="edit_item" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_item-<%= item.id %>">Edit item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%=form_with model: [@user, @event, item], local: true do |f| %>  
          <div class="modal-body">
            <div class="mb-3">
              <%= f.label :name, "Item", class: "sr-only" %>
              <%= f.text_field :name, value: item.name, id: "item-name-#{item.id}", class: "form-control form-control-md", required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Save", class: "btn btn-primary" %>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>