<div class="m-2 mt-3 card card-custom bg-light border-white border-0">
  <div class="card-body d-flex flex-column" style="overflow-y: auto">
    <% @items.each do |item| %>
      <div class="d-flex justify-content-between">
        <div class="p-1 d-flex">
          <input type="checkbox" class="check-box form-check-input" data-checked="<%= item.checked %>" name="item" id="<%= item.id %>">
          <label class="object-label pointer fs-6" for="<%= item.id %>" ><%= item.name %></label>
        </div>  
        <%=link_to "", user_event_item_path(@user, @event, item), method: :delete, "aria-label" => "Delete", class: "text-center btn-close px-1", type: :button %>
      </div>  
    <% end %>  
  </div>
</div>   