<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="BeMyGuest event planner" />
    <meta property="og:image" content="https://i.postimg.cc/NjTmPWPs/og-image.png" />
    <meta property='og:description' content='Ruby on Rails web app'/>
    <meta property='og:url' content='https://bemyguestapp.herokuapp.com/'/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    <main>
      <% if logged_in? %>
        <%= render partial: 'events/new_event_modal' %>
      <% end %>
      <%= render partial: "shared/flash_messages" %>
    <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
